.loginX{
    height: 100vh;
    width: 100vw;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    
    width: 70%;
    height: 70%;
    display:flex;
    
}

.loginLeftX{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginRightX{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    

    font-size: 60px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;

}
.loginDesc{
    font-family: 'Zeyada', cursive;
    font-size: 30px;
    /* font-weight: 400; */
    

}

.loginBoxX{
    height: 400px;
    padding: 20px;
    background-color: white ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.loginInputA{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px ;
    /* margin-bottom: 5px; */
}

.loginButton:focus{
    outline: none;
}
.loginButtonX{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

}
.loginForgot{
    text-align: center;
    color: #1775ee;
}
.loginRegisterButton{
    width: 70%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}